* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #141414;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #1f1f1f;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
}

.profile-img {
  width: 100px;;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.location {
  color: #c4f82a;
  margin-bottom: 1rem;
  font-weight: bold;
}

.bio {
  font-style: italic;
  margin-bottom: 25px;
  color: #ccc;
}

.links a {
  display: block;
  margin: 10px;
  padding: 8px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.links a:hover {
  background-color: #c4f82a;
  color: black;
}
